.product-item {
    box-shadow: 3px 3px 15px #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product-item__img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-item__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.product-item__info-wrapper {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item__title {
    margin: 20px 0;
}

.product-item__desc {
    margin-bottom: 30px;
}

.product-item__buy-btn {
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2196f3;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    gap: 10px;
}
