.products {
    padding: 50px 0;
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.cart {
    margin-top: 100px;
}

.cart-table {
    width: 100%;
    text-align: center;
}

.cart-table,
.cart-table th,
.cart-table td {
    border-spacing: 20px 0;
}

.cart-table th,
.cart-table td {
    border-bottom: 1px solid #9e9e9e;
}

.cart-table thead tr th,
.cart-table tbody tr td {
    padding: 20px 0;
}
