.header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #e0e0e0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-weight: 700;
    color: var(--text-color);
    font-size: 25px;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: var(--text-color);
}
