:root {
    --text-color: #221f32;
    --blue-color: #398bf5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #fafafc;
    color: var(--text-color);
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
}

.Toastify__toast {
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 3%), 0 8px 15px 0 rgb(0 0 0 / 0%) !important;
}
